.container {
  background-color: bisque;
  width: 400px;
  border-radius: 20px;
  margin: 20px;
}

.btn {
  margin: 10px;
  border: 1px solid;
  font-weight: bold;
}

.text {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}